# IDE
.idea

# Byte-compiled / optimized / DLL files
core/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# session
*.session

# Logging
*.logs
logs/

# alembic
alembic/

